<div class="row" ng-init="init()">
    <div class="col-xs-12">
        <div class="input-group">

            <div class="input-group-btn">
                <a href="#/note/new" class="btn btn-primary">
                    Create
                </a>
            </div>
            <!-- /btn-group -->

            <form ng-submit="submitQuery()" class="input-group">
                <input type="text" class="form-control" aria-label="..." name="query" placeholder="Type.."
                       ng-model="query" ng-keyup="changedQuery($event)">

                <div class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Search"/>
                </div>
            </form>

            <div class="input-group-btn dropdown-menu-right">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    <span class=" glyphicon glyphicon-cog"></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right" ng-controller="MenuController">
                    <li ng-show="authenticated"><a href="#/settings"><span class="glyphicon glyphicon-wrench"></span>
                        &nbsp;<span translate="global.menu.account.settings">Settings</span></a></li>
                    <li ng-show="authenticated"><a href="#/password"><span class="glyphicon glyphicon-lock"></span>
                        &nbsp;<span translate="global.menu.account.password">Password</span></a></li>
                    <li ng-show="authenticated"><a href="#/sessions"><span class="glyphicon glyphicon-cloud"></span>
                        &nbsp;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                    <li ng-show="authenticated"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span>
                        &nbsp;<span translate="global.menu.account.logout">Log out</span></a></li>
                    <li ng-show="!authenticated"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>
                        &nbsp;<span translate="global.menu.account.login">Authenticate</span></a></li>

                    <!--<li ng-switch-when="false"><a href="#/register"><span class="glyphicon glyphicon-plus-sign"></span>-->
                    <!--&nbsp;<span translate="global.menu.account.register">Register</span></a></li>-->
                </ul>
            </div>
            <!-- /btn-group -->

        </div>
    </div>
</div>


<div>

    <div ng-repeat="day in sortedDays" ng-init="notes = byDays[day]">

        <h4>{{ formatDate(day) }}</h4>

        <li ng-repeat="note in notes">
            <div style="white-space: pre-wrap">{{note.content}}</div>

            <div ng-show="authenticated" style="display: inline-block;">

                <span class="glyphicon glyphicon-eye-open" style="color: green" ng-if="note.inPublic"></span>
                <span class="glyphicon glyphicon-eye-close" ng-if="!note.inPublic"></span>

                <a href="#/note/{{note.id}}">
                    Edit
                </a>
                or
                <a href="javascript:void(0)"
                   ng-click="delete(note.id)">
                    Delete
                </a>
            </div>
        </li>
    </div>

    <div>
        <ul class="pagination">
            <a href="#{{previousPageUrl()}}" aria-label="Previous"
               ng-show="!$isFirstPage">
                <span aria-hidden="true">Previous</span>
            </a>

            Page {{currentPage}}

            <a href="#{{nextPageUrl()}}" aria-label="Next" ng-show="!$isLastPage">
                <span aria-hidden="true">Next</span>
            </a>
    </div>

</div>
