<div class="row" ng-init="init()" style="padding-top:5px; padding-bottom:5px; background-color: #dddddd; border-bottom:1px solid #b3b3b3">

    <div class="col-xs-5">
        <a href="#/note/new" class="btn btn-default">
            New Note
        </a>
    </div>
    <div class="col-xs-2">
      <div class="input-group">
            <form ng-submit="submitQuery()" class="input-group">
                <input type="text" class="form-control" aria-label="..." name="query" placeholder="Search notes"
                       ng-model="query" ng-keyup="changedQuery($event)">
                 <div class="input-group-btn">                    
                    <a href="javascript:void(0)" class="btn btn-default">
                     <span class="glyphicon glyphicon-search"></span>
                    </a>
                 </div>
            </form>
            

         </div>

      </div>
      
      <div class="col-xs-5">        
            <div class="pull-right dropdown-menu-right">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    <span class=" glyphicon glyphicon-cog"></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right" ng-controller="MenuController">
                    <li ng-show="authenticated"><a href="#/settings"><span class="glyphicon glyphicon-wrench"></span>
                        &nbsp;<span translate="global.menu.account.settings">Settings</span></a></li>
                    <li ng-show="authenticated"><a href="#/password"><span class="glyphicon glyphicon-lock"></span>
                        &nbsp;<span translate="global.menu.account.password">Password</span></a></li>
                    <li ng-show="authenticated"><a href="#/sessions"><span class="glyphicon glyphicon-cloud"></span>
                        &nbsp;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                    <li ng-show="authenticated"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span>
                        &nbsp;<span translate="global.menu.account.logout">Log out</span></a></li>
                    <li ng-show="!authenticated"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>
                        &nbsp;<span translate="global.menu.account.login">Authenticate</span></a></li>

                    <!--<li ng-switch-when="false"><a href="#/register"><span class="glyphicon glyphicon-plus-sign"></span>-->
                    <!--&nbsp;<span translate="global.menu.account.register">Register</span></a></li>-->
                </ul>
            </div>

        </div>
    </div>
</div>

<div>
Breadcrumb
</div>

<div>

    <div ng-repeat="day in sortedDays" ng-init="notes = byDays[day]">

        <h4>{{ formatDate(day) }}</h4>

        <div ng-repeat="note in notes" class="panel panel-default"ng-class="{note.inPublic: 'note-public'}">
            <div class="panel-body">
                <div style="white-space: pre-wrap">{{note.content}}</div>

                <div ng-show="authenticated" style="display: inline-block;">

                    <span class="glyphicon glyphicon-eye-open" style="color: green" ng-if="note.inPublic"></span>
                    <span class="glyphicon glyphicon-eye-close" ng-if="!note.inPublic"></span>

                    <a href="#/note/{{note.id}}">
                        Edit
                    </a>
                    or
                    <a href="javascript:void(0)"
                        ng-click="delete(note.id)">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <nav>
     <ul class="pager">
       <li><a href="#{{previousPageUrl()}}" aria-label="Previous" ng-show="!$isFirstPage">
         Previous</a></li>
       <li class="active"><a href="#">{{currentPage}}</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
       <li><a href="#">5</a></li>
       <li><a href="#">6</a></li>
       <li><a href="#{{nextPageUrl()}}" aria-label="Next" ng-show="!$isLastPage">Next</a></li>
     </ul>
   </nav>
        
</div>
