<div class="row" ng-init="init()">
    <div class="col-xs-12">
        <div class="input-group">

            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveNoteModal"
                        ng-switch-when="true">
                    Create
                </button>
            </div>
            <!-- /btn-group -->

            <form ng-submit="submitQuery()" class="input-group">
                <input type="text" class="form-control" aria-label="..." name="query" placeholder="Type.."
                       ng-model="query" ng-keyup="changedQuery($event)">

                <div class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Search"/>
                </div>
            </form>

            <div class="input-group-btn dropdown-menu-right">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    <span class=" glyphicon glyphicon-cog"></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right" ng-controller="MenuController">
                    <li ng-switch-when="true"><a href="#/settings"><span class="glyphicon glyphicon-wrench"></span>
                        &nbsp;<span translate="global.menu.account.settings">Settings</span></a></li>
                    <li ng-switch-when="true"><a href="#/password"><span class="glyphicon glyphicon-lock"></span>
                        &nbsp;<span translate="global.menu.account.password">Password</span></a></li>
                    <li ng-switch-when="true"><a href="#/sessions"><span class="glyphicon glyphicon-cloud"></span>
                        &nbsp;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                    <li ng-switch-when="true"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span>
                        &nbsp;<span translate="global.menu.account.logout">Log out</span></a></li>
                    <li ng-switch-when="false"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>
                        &nbsp;<span translate="global.menu.account.login">Authenticate</span></a></li>

                    <!--<li ng-switch-when="false"><a href="#/register"><span class="glyphicon glyphicon-plus-sign"></span>-->
                    <!--&nbsp;<span translate="global.menu.account.register">Register</span></a></li>-->
                </ul>
            </div>
            <!-- /btn-group -->

        </div>
    </div>
</div>


<div>

    <div class="modal fade" id="saveNoteModal" tabindex="-1" role="dialog" aria-labelledby="myNoteLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myNoteLabel">
                            Note

                            {{note.id}}
                        </h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            by {{note.owner}}
                        </div>

                        <div class="form-group">
                            <label class="form-control">
                                <input type="checkbox" aria-label="Public" ng-model="note.inPublic"> Public
                            </label>
                        </div>

                        <div class="form-group">
                            <label>Content</label>
                            <textarea class="form-control" ng-model="note.content" rows="12">
                            </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-repeat="day in sortedDays" ng-init="notes = byDays[day]">

        <h4>{{ formatDate(day) }}</h4>

        <li ng-repeat="note in notes">
            <div style="white-space: pre-wrap">{{note.content}}</div>

            <div ng-show="authenticated" style="display: inline-block;">

                <span class="glyphicon glyphicon-eye-open" style="color: green" ng-if="note.inPublic"></span>
                <span class="glyphicon glyphicon-eye-close" ng-if="!note.inPublic"></span>

                <a href="javascript:void(0)"
                   ng-click="updateDialog(note.id)">
                    Edit
                </a>
                or
                <a href="javascript:void(0)"
                   ng-click="delete(note.id)">
                    Delete
                </a>
            </div>
        </li>
    </div>

    <div>
        <ul class="pagination">
            <a href="#{{previousPageUrl()}}" aria-label="Previous"
               ng-show="!$isFirstPage">
                <span aria-hidden="true">Previous</span>
            </a>

            Page {{currentPage}}

            <a href="#{{nextPageUrl()}}" aria-label="Next" ng-show="!$isLastPage">
                <span aria-hidden="true">Next</span>
            </a>
    </div>

</div>
